<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="<%= ctx.urlForFile('styles.css') %>">
    <link rel="stylesheet" href="<%= ctx.urlForFile('bla-bla-anim.css') %>">
</head>
<body>
    <header>
        <h1>Community Hub</h1>
    </header>
    <main>
        <%= ctx.content.main %>
    </main>
    <footer>
        <p>&copy; 2025 Bla + Bla Corporation ltd.</p>
    </footer>
</body>
</html>